body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 92, 1) 49%, rgba(2, 39, 48, 1) 100%);
    background-attachment: fixed;
    height: 600px;
}

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #0D0114;
    width: 100%;
}

.home {
    width: 100%;
    height: 600px;
}

.home_div {
    display: flex;
    justify-content: center;
}

.text_jumbotron {
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}

.home_text {
    text-align: center;
    font-size: 20px;
    color: bisque;
    padding: 1%;
}

.line {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    border: none;
    padding: 0;
    margin-bottom: 16px;
}

.home_input {
    font-size: 15px;
    padding: 10px;
    margin-top: 0.5%;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    box-shadow: #0D0114 15px;
    border-color: none;
}

.button {
    background-color: #f4511e;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    opacity: 1
}


/* GALLERY */

.catalogue {
    background-color: #460B32;
    width: 100%;
    height: 650px;
    margin: 0%;
    padding: 2%;
}

div.gallery {
    border-radius: 10%;
    background-color: #EFE7EC;
    box-shadow: #240319;
}

div.gallery:hover {
    border-radius: 10%;
    background-color: #CD054B;
    cursor: pointer;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 15px;
}

.responsive {
    padding: 2% 6px;
    float: left;
    width: 24.99999%;
}

.img_gallery {
    width: 50px;
    height: 50px;
}

.gallery_button {
    color: #240319;
}

.gallery_button:hover {
    color: white;
}

.h1_button {
    color: #c2f41e;
}

.h1_button:hover {
    color: #CD054B;
}


/* RADIO SECTION */

.radio {
    background-color: black;
    margin: 0%;
    padding-bottom: 6%;
}

.radioMusic {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.radio_h1 {
    color: #f4511e;
    font-size: 35px;
    font-display: flex;
    text-align: center;
    padding-top: 5%;
}


/*FOOTER SECTION*/

.footer {
    width: 100%;
    margin: 0%;
    background-color: #240319;
}

.footer_grid {
    display: grid;
    grid-template-columns: auto auto 35%;
    grid-template-rows: 200px;
    background-color: none;
}

.footer_grid-item {
    background-color: none;
    padding: 0%;
    text-align: center;
}

.footer_image {
    height: 150px;
    padding-top: 2%;
}

.footer_h1 {
    color: #CD054B;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
}

.footerP {
    font-size: 15px;
    color: #f4901e;
    line-height: 25px;
}

.footer_label {
    font-size: 20px;
    color: #f4511e;
}


/*SOCIAL MEDIA ICONS*/

.fa-facebook {
    color: white;
    padding: 2%;
    padding-top: 5%;
}

.fa-instagram {
    color: white;
    padding: 2%;
    padding-top: 5%;
}

.fa-youtube {
    color: white;
    padding: 2%;
    padding-top: 5%;
}

.fa-github {
    color: white;
    padding: 2%;
    padding-top: 5%;
}


/* IMAGES */

.logo {
    padding-top: 5px;
    height: 50px;
}

.img_principal {
    height: 300px;
    padding-top: 2%;
}

.img_frase {
    width: 500px;
}

.iconCart {
    height: 25px;
}


/*MENU*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: antiquewhite;
}

.nav-link:hover {
    color: #CD054B;
}

.icon_button {
    height: 5px;
    background-color: #5a0623;
    border-radius: 10px;
    padding: 2%;
}

.icon_button:hover {
    width: 30px;
    height: 30px;
    background-color: #CD054B;
    border-radius: 20px;
}


/* HAMBURGUER MENU */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: antiquewhite;
}


/* ANIMATIONS */

.img_animation {
    -webkit-animation: 5s rotate linear;
    animation: 5s rotate linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    padding: 2%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.lineUp {
    animation: 3.5s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* RESPONSIVE ELEMENTS */

@media only screen and (max-width: 700px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #0D0114;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        opacity: 80%;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .img_principal {
        height: 250px;
    }
    .img_frase {
        width: 300px;
    }
    .home_input {
        width: 200px;
    }
    .button {
        width: 70px;
        margin-left: 2.5%;
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .footer_image {
        height: 50px;
        padding-top: 2%;
    }
}


/*GALLERY PAGE ELEMENTS*/

.catalogueG,
.catalogueG2,
.catalogueG3,
.catalogueG4 {
    width: 100%;
    height: 800px;
    margin: 0%;
    padding: 2%;
}

.catalogueG {
    background-color: #460B32;
}

.catalogueG2 {
    background-color: #1d0425;
}

.catalogueG3 {
    background-color: #57132d;
}

.catalogueG4 {
    background-color: #0a1825;
}

div.desc2 {
    padding: 15px;
    text-align: center;
    font-size: 12px;
}